@import "config";
@import "commons";

main {
	width: 100%;
}

div#about__animation {
	// border: 2px solid red;
	height: calc(100vh - 110px);
	max-height: 1000px;
	width: 100%;
	img {
		width: 100%;
		height: 100%;
	}
}

// section#about {
// 	// border: 2px solid red;
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: center;
// 	align-items: center;
// 	gap: 5%;
// 	padding: 0 80px;
// 	margin: 20px 0 30px;
// 	// color: darken($purple, 30%);
// }
// .about__item {
// 	width: 45%;
// 	min-height: 350px;
// 	max-width: 400px;
// 	// background: lighten($orange, 40%);
// 	box-shadow: 0.25px 0.25px 5px 0.25px rgba(128, 128, 128, 0.527);
// 	border: 1.5px solid lighten($purple, 35%);
// 	border-radius: 10px;
// 	padding: 20px 35px;
// 	color: darken($orange, 30%);

// 	// border: 2px solid green;

// 	&:nth-last-child(1) {
// 		flex-grow: 0.25;
// 		margin-top: 50px;
// 		column-span: 2;
// 		max-width: 600px;
// 	}

// 	h3 {
// 		text-align: center;
// 		margin-bottom: 15px;
// 	}

// 	p {
// 		text-align: justify;
// 		font-family: "Ubuntu", sans-serif;
// 		line-height: 20px;
// 	}
// }

// // ********************************************
// //                  MEDIA QUERRIES
// // *********************************************

// // ********************************************
// //                  LAPTOP (1025px)
// // *********************************************

// @media (max-width: 1025px) {
// 	div#about__animation {
// 		// border: 2px solid red;
// 		height: calc(100vh - 90px);
// 	}
// }















// // ********************************************
// //                  TABLET (780px)
// // *********************************************

// @media (max-width: 780px) {
// 	// main {
// 	// 	margin-top: 90px;
// 	// }

// 	div#about__animation {
// 		// border: 2px solid red;
// 		height: calc(100vh - 90px);
// 	}
// 	section#about {
// 		padding: 0 20px;
// 		// width: %;
// 	}
// }


// ********************************************
//                  PHONE (600px)
// *********************************************

@media (max-width: 600px) {
	// main {
		// margin-top: 90px;
	// }

	

	div#about__animation {
		// border: 2px solid red;
		height: 50vh;

	}
	div#about {
		padding: 0 20px;
		margin-bottom: 30px;

		p {
			font-size: 85%;
			line-height: 140%;
		}

		div#who_we_are {
			// border: 2px solid green;
			margin-top: 20px;
			h3 {
				position: relative;
				margin-bottom: 15px;

				&::before {
					content: "";
					position: absolute;
					font-size: 20px;
					width: 70%;
					height: 7px;
					background-color: rgb(53, 53, 238);
					top: 110%;
					left: -30px;
				}
			}
			

			
		}

		div#when_it_began {
			margin-top: 20px;
			// border: 2px solid green;

			h3 {
				position: relative;
				margin-bottom: 20px;
				padding-right: 30px;
				text-align: right;
				// border: 2px solid green;

				&::after {
					content: "";
					position: absolute;
					font-size: 20px;
					width: 70px;
					height: 70px;
					border-radius: 70px;
					background-color: rgb(216, 120, 30);
					top: -20px;
					right: -55px;
				}
			}
		}


		div#mission {
			margin-top: 20px;
			// border: 2px solid green;

			h3 {
				position: relative;
				margin-bottom: 20px;
				padding-left: 60px;
				// border: 2px solid green;

				&::before {
					content: "";
					position: absolute;
					font-size: 20px;
					width: 80px;
					height: 50px;
					background-color: rgb(7, 131, 48);
					top: -10px;
					left: -30px;
				}
			}
		}
	}
}








