
@import 'config';
@import 'commons';

main {
  margin-top: 140px;
  width: 100%;
}

div.contact_facade {
  // border: 2px solid red;
  position: relative;
}

img#contact_facade-bg {
  // position: absolute;
  margin-left: 40px;
  width: 90%;
  filter: drop-shadow(1px 3px 4px lighten(grey, 30%));
}

h2.contact_facade-text {
  // border: 2px solid green;
  position: absolute;
  color: darken(grey, 5);
  line-height: 55px;
  font-size: 250%;
  top: 25%;
  left: 17%;
  text-align: center;
  z-index: 1
}

img#contact_facade-img {
  position: absolute;
  width: 30%;
  right: 15%;
  top: 21%;
}

div.contact_concern {
  // border: 2px solid blue;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  @include pad;

  &-img {
    // border: 2px solid green;

    img {
      width: 100%;
    }
  }

  &-text {
    text-align: center;
    font-size: 170%;
    color: darken(grey, 5);

    h2 {
      font-family: "Ubuntu", sans-serif;
    }
  }
}

div.contact_form {
  color: darken(grey, 5);
  margin: 50px 0;
  // border: 2px solid green;
  text-align: center;

  form {
    // border: 2px solid red;
    font-family: "Ubuntu", sans-serif;

    input, textarea {
      border: transparent;
      box-shadow: 0px 0px 7px 1px lighten(grey, 30%);
      border-radius: 6px;
    }

    h2 {
      font-family: inherit;
      font-size: 180%;
      font-weight: 200;
      margin-bottom: 30px;
    }

    div.user_info {
      // border: 2px solid blue;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      margin-bottom: 30px;

      input {
        width: 20%;
        min-width: 280px;
        height: 40px;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 7px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
      }
    }

    div.user_message {
      // border: 2px solid green;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;

      textarea {
        // border: 2px solid green;
        min-width: 500px;
        width: 35%;
        min-height: 100px;
        text-align: start;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 7px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
      }
    }

    button {
      width: 10%;
      max-width: 240px;
      min-width: 120px;
      font-size: 120%;
      letter-spacing: 3px;
      padding: 5px 10px;
      // line-height: 100%;
      font-family: "Ubuntu", sans-serif;
      font-weight: 400;
      border: none;
      background-color: darken($purple, 3);
      color: white;
      border-radius: 12px;
    }
  }
}

div.contact_faq {
  // border: 2px solid green;
  margin-bottom: 80px;

  h2.faq-header {
    // border: 2px solid grey;
    width: 70%;
    min-width: 500px;
    text-align: right;
    font-size: 200%;
    font-family: "Ubuntu", sans-serif;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

div.contact_faq-list {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
div.contact_faq-item {
  border: none;
  background-color: white;
  box-shadow: 0px 0px 7px 1px lighten(grey, 30%);
  width: 70%;
  min-width: 500px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;

  div.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
    h4.faq-item-question {
      font-size: 18px;
      font-weight: 200;
    }
    h4.reveal-sign {
      text-align: right;
      font-size: 30px;
      font-weight: 200;
      cursor: pointer;
      padding: 0 20px;
    }
  }

  div.answer {
    display: none;
    border-top: 1px solid grey;
    padding: 10px 50% 20px 20px;
    text-align: left;
  }

  div.reveal {
    display: block;
  }
}

// ********************************************
//                  MEDIA QUERRIES
// *********************************************

// ********************************************
//                  LAPTOP (1025px)
// *********************************************

@media (max-width: 1025px) {

  img#contact_facade-bg {
    margin-left: 20px;
    width: 95%;
  }
  h2.contact_facade-text {
    // border: 2px solid green;
    line-height: 40px;
    font-size: 220%;
    left: 12%;
  }
  img#contact_facade-img {
    // border: 2px solid green;
    width: 35%;
    right: 10%;
  }

  div.contact_concern {
    // border: 2px solid blue;
    gap: 60px;
    padding: 0 40px;
  
    &-text {
      font-size: 150%;
    }
  }  
}

// ********************************************
//                  TABLET (780px)
// *********************************************

@media (max-width: 780px) {
  
  img#contact_facade-bg {
    margin-left: 15px;
  }
  h2.contact_facade-text {
    // border: 2px solid green;
    line-height: 30px;
    font-size: 160%;
  }
  img#contact_facade-img {
    // border: 2px solid green;
    width: 35%;
    right: 10%;
  }

  div.contact_concern {
    gap: 20px;
    padding: 0 30px;
  
    &-text {
      font-size: 120%;
    }
  }

}
