@import 'config';
@import 'commons';

@font-face {
    font-family: 'BluuNext';
    src: url('../fonts/BluuNext-Bold.otf');
}

// **************************************
//              INTRO PIC
// **************************************
div#intro__pic {
    position: relative;
    width: 100%;
    height: 90vh;
    // display: flex;
    // flex-direction: row;
    overflow: hidden;
    // background-image: url('../imgs/intro-pic.jpg');
    // background-size: cover;
    // background-repeat: none;

    // div#overlay {
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(128, 128, 128, 0.329);
    // }

    .intro-img {
        position: absolute;
        left: -100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;

        &:first-child {
            left: 0;
        }
    }

    .right-center {
        animation: right-to-center 2s ease-in 1 forwards;
    }
    .center-left {
        animation: center-to-left 2s ease-in 1 forwards;
    }

    .left-center {
        animation-name: left-to-center 2s ease-in 1 forwards;
    }
    .center-right {
        animation-name: center-to-right 2s ease-in 1 forwards;
    }
}

// **************************************
//              FACADE
// **************************************

#facade {
    // border: 2px solid red;
    display: grid;
    grid-template-columns: 1.75fr 1.25fr;
    padding: 0 80px;
    padding-bottom: 40px;
    margin-top: 40px;

    &__img {
        // border: 2px solid blue;
        height: 85%;
        width: 115%;
        padding-bottom: 20%;
        background-image: url('../imgs/pressing laptop.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        right: 60px;
    }

    &__text {
        // border: 2px solid green;
        padding-left: 20px;
        margin-top: 100px;
        width: 100%;
        height: 100%;

        h2 {
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 71.5px;
            color: grey;
            line-height: 70px;
            margin-top: 40px;
        }
        p {
            width: 80%;
            margin-bottom: 50px;
            @include text-font;
            line-height: 30px;
        }
        a {
            margin: 10px 0;
            padding: 10px 25px;
            @include text-font;
            @include highlight;
            text-align: center;
            width: max-content;
        }
    }
}
// ********************************************** 
//                  ADVERT 
// **********************************************

div#ads {
    // border: 2px solid red;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 40px;
    margin-top: 10px;
    @include pad;
    // width: 100%;
    padding-bottom: 30px;

    &__text {
        // border: 2px solid green;
        color: grey;
        align-self: center;
        padding-left: 20px;
        width: 90%;
        gap: 10px;

        h3 {
            font-size: 200%;
            line-height: 100%;
        }

        p.sub-header {
            font-size: 140%;
            line-height: 150%;
            margin-bottom: 20px;
        }

        ul li {
            font-size: 100%;
            line-height: 30px;

            span.check {
                // border: 2px solid green;
                color: white;
                background-color: $purple;
                border-radius: 50px;
                padding: 0 5px;
                text-align: center;
                margin-right: 5px;
            }
        }
    }

    &__img {
        // border: 2px solid green;
        background-image: url('../imgs/ad__pic.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 7px;
        height: 500px;

    }
}

// *******************************************
//                  FEATURES
// *******************************************
div#features {
    // border: 2px solid red;
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin: 30px 0px;
    @include pad;
    padding-bottom: 20px;
}
div.feature {
    border: 2px solid lighten($purple, 40%);
    padding: 0 15px 45px;
    border-radius: 7px;
    box-shadow: 0.25px .25px 5px .25px rgba(128, 128, 128, 0.527);

    &__text {

        p {
            line-height: 115%;
        }
    }
    
    &__img {
        // border: 2px solid blue;
        height: 120px;
        width: 100%;
        max-width: 150px;
        margin: 10% auto;   
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &.first {
            background-image: url('../imgs/ad__pic.jpg');
        }
        &.second {
            background-image: url('../imgs/ad__pic.jpg');
        }
        &.third {
            background-image: url('../imgs/ad__pic.jpg');
        }
        &.fourth {
            background-image: url('../imgs/ad__pic.jpg');
        }
    }
    
}

// ******************************
            // TOOLS
// ******************************

.tools {
    // border: 2px solid red;
    @include text-font;
    background-image: url('../imgs/fottwhirl.svg');  // dist\imgs\fottwhirl.svg
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .header__content {
        // margin-top: 150px;
        @include header;
        position: relative;
        right: 10%;
        top: 80px;

        .header__underline {
            width: 70%;
        }
    }
    
    &__list {
        // border: 2px solid red;
        display: grid;
        justify-content: center;
        align-self: center;
        margin-top: 50px;
        grid-template-rows: repeat(3, 150px);
        grid-template-columns: repeat(3, 1fr);

        .tool {
            // border: 2px solid rgb(71, 8, 216);
            transform: scale(0.6);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}


// ********************************************
//                  MEDIA QUERRIES
// *********************************************

// ********************************************
//                  LAPTOP (1024px)
// *********************************************

@media (max-width: 1025px) {

    #facade {
        margin-top: 5px;
        &__text {
            margin-top: 0;
            margin-top: 80px;
            padding-left: 0;

            h2 {
                font-size: 50px;
                line-height: 45px;
            }
            p {
                font-size: 18px;
                width: 95%;
                margin-bottom: 30px;
            }
            a {
                margin: 0px 0;
            }
        }

        &__img {
            width: 120%;
            height: 100%;
            margin-top: -10%;
            right: 35px;
            bottom: 30px;
        }
    }

    div#ads {
        grid-template-columns: 1.2fr 0.9fr;
        padding: 0 40px;
        gap: 10px;

        &__text {
            // border: 2px solid green;
            margin: 0;
            width: 90%;

            h3 {
                font-size: 150%;
            }

            ul li {
                font-size: 90%;
                // display: inline-block;
            }
        }

        &__img {
            // border: 2px solid green;
            height: 400px;
        }
    }


    div#features {
        padding: 0 40px;
    }
    div.feature {

        &__text {
            font-size: 90%;
        }
    }

    .tools {
        // border: 2px solid red;
        padding: 45px 60px 0 ;

        .header__content {
            // margin-top: 150px;
            right: 5%;
            top: -2px;
            font-size: 100%;
            // width: 70%;

        }

        &__list { 
            margin-top: -20px;

            .tool {
                // border: 2px solid green;
                transform: scale(0.5);
            }
        }

    }
    
}

// *******************************************
                // TABLETS (770px)
// *******************************************

@media (max-width: 770px) {

    #facade {
        padding: 0 40px;
        margin: 10px 0 35px;
        padding-top: 70px;

        &__text {
            // border: 2px solid green;
            margin-top: 0px;
            padding-left: 0;

            h2 {
                font-size: 40px;
                line-height: 35px;
                // color: green;
            }
            p {
                font-size: 16px;
                line-height: 18px;
                width: 95%;
                margin-bottom: 30px;
            }
            a {
                margin: 0px 0;
            }
        }

        &__img {
            margin-top: -25%;
        }
    }

    div#ads {
        grid-template-columns: 1.5fr 1fr;
        padding: 0 30px;
        gap: 10px;

        &__text {
            // border: 2px solid green;
            margin: 0;
            width: 100%;
            h3 {
                font-size: 130%;
            }
            p.sub-header {
                font-size: 18px;
            }
            ul {
                font-size: 90%;
            }
        }

        &__img {
            // border: 2px solid green;
            height: 320px;
        }
    }
    div#features {
        padding: 0 30px;
    }

    div.feature {

        &__text {
            h3 {
                margin-bottom: 5px;
                font-size: 80%;
            }

            p {
                line-height: 115%;
                font-size: 75%;
            }
        }
    }

    .tools {
        // border: 2px solid red;
        padding: 30px 60px 0 ;

        .header__content {
            right: 1%;
            top: 7px;
            font-size: 110%;
        }

        &__list { 
            margin-top: -25px;
            margin-bottom: 15px;

            .tool {
                // border: 2px solid green;
                transform: scale(0.5);
            }
        }


    }
    
}


// // *******************************************
//                 // TABLETS (600px)
// // *******************************************

@media (max-width: 601px) {

    div#intro__pic {
        height: 40vh;
    }


    #facade {
        // border: 2px solid red;
        display: block;
        padding: 30px 20px;
        margin: 0;
    
        &__img {
            display: none;
        }
    
        &__text {
            // border: 2px solid green;
            padding: 0;
            margin: 0;
            height: 100%;
    
            h2 {
                font-weight: 350;
                color: black;
                word-spacing: 4px;
                letter-spacing: 2px;
                margin-bottom: 2%;
                font-size: 180%;
                line-height: 120%;
                margin-top: 0px;
            }
            p {
                width: 100%;
                margin-bottom: 20px;
                font-size: 90%;
                line-height: 140%;
                font-weight: 350;
            }
            a {
                margin: 0;
                padding: 7px 60px;
                font-size: 14px;
                @include highlight;
                font-weight: 200;
            }
        }
    }


    div#ads {
        // border: 2px solid red;
        margin: 0;
        padding: 30px 20px;
        display: block;
    
        &__text {
            // border: 2px solid green;
            color: grey;
            align-self: center;
            padding-left: 0px;
            width: 100%;
            gap: 10px;
    
            h3 {
                font-size: 130%;
                line-height: 100%;
            }
    
            p.sub-header {
                // border: 2px solid red;
                font-size: 120%;
                line-height: 150%;
                font-weight: 100;
                margin-bottom: 10px;                
            }

            ul li {
                // border: 2px solid green;


                span.check {
                    // border: 2px solid green;
                    font-size: 90%;
                    border-radius: 100%;
                    padding: 0 3px;
                    width: 20px;
                    height: 50px;
                    margin-right: 1px;  
                }

                span {
                    font-size: 80%;
                }
            }    
            
        }
    
        &__img {
            display: none;
        }
    }
    


    div#features {
        // border: 2px solid red;
        flex-direction: column;
        gap: 7vw;
        margin: 0;
        padding-bottom: 50px;
    }

    div.feature {
        padding: 0 15px 45px;
        width: 45vw;
        min-width: 200px;
    
        &__text {
    
            p {
                line-height: 115%;
            }
        }
        
        &__img {
            height: 120px;
            width: 100%;
            max-width: 150px;
            margin: 10% auto;   
        }
        
    }
    


    .tools {
        border: 2px solid rgb(6, 119, 53);
        padding: 0;


        .header__content {
            // border: 2px solid green;
            @include header;
            font-size: 120%;
            margin: 0;
            right: 5%;
            top: 17px;

            @media only screen and (max-width: 400px) {
                font-size: 70%;
                top: 20px;
            }
    
            .header__underline {
                width: 70%;
            }
        }
        
        &__list {
            // border: 2px solid rgb(10, 223, 92);
            margin: 0 0px;
            width: 70%;
            justify-content: center;
            align-items: center;
            gap: 0px;
    
            .tool {
                // border: 2px solid rgb(71, 8, 216);
                transform: scale(0.6);
                margin: 0;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    
}

@keyframes right-to-center {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}
@keyframes center-to-left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes left-to-center {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}
@keyframes center-to-right {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
